<nz-layout>
  <nz-sider class="g-sider" nzCollapsible [(nzCollapsed)]="isCollapsed">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-menu-item>
            <span title><i class="anticon anticon-rocket"></i><span class="nav-text">Features</span></span>
            <!-- <ul>
              <li nz-menu-item>Team 1</li>
              <li nz-menu-item>Team 2</li>
            </ul> -->
          </li>
      <li nz-menu-item>
        <span title><i class="anticon anticon-code-o"></i><span class="nav-text">Project</span></span>
        <!-- <ul>
          <li nz-menu-item><i class="anticon anticon-appstore"></i>项目列表</li>
          <li nz-menu-item><i class="anticon anticon-gift"></i>新建项目</li>
        </ul> -->
      </li>
      <li nz-menu-item>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
        <!-- <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul> -->
      </li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
      <!-- <li nz-menu-item nz-menu-item-divider>12</li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li> -->

    </ul>
  </nz-sider>
  <nz-layout>
    <!-- <nz-header style="background: #fff; padding:0;"></nz-header> -->
    <nz-content class="g-main">

      <ng-content></ng-content>

    
    </nz-content>
    <nz-footer style="text-align: center;">Mt Cola ©2018 By iallai</nz-footer>
  </nz-layout>
</nz-layout>
 